* {
	font-family: sans-serif;
	margin: 0;
}
body {
	margin: 0.5in 0.3in 0.5in 0.3in;
	font-size: 14px;
}

h1 {
	text-align: center;
	font-size: 24px;
	margin: 0.2in 0 0.2in 0;
}

h2 {
	text-align: center;
	font-size: 22px;
	margin: 0.2in 0 0.2in 0;
}

p {
	text-align: center;
	font-size: 18px;
	margin: 0.1in 0 0.1in 0;
}

span {
	border-bottom: 1px solid black;
}

.uh-logo {
	margin: 0 auto 0.5cm auto;
	max-height: 1.5in;
}
.uh-logo img {
	max-width: 100%;
	height: auto;
}

.contact-info {
	margin-top: 0.3in;
}
.contact-info p {
	font-size: 12px;
	text-align: left;
	margin: 0.1em 0;
}

.grid-container {
	border-top: 0.5px dashed black;
	padding-top: 0.2in;
	display: grid;
	gap: 0.1in;
	margin-top: 0.3in;
	justify-content: left;
	align-items: end;
	grid-template:
		"a b c d" 1.5cm 
		"e f g h" 1.5cm
		"i j k l " 1.5cm / 0.3fr 2fr 0.3fr 1fr;
}

.grid-container > p {
	margin: 0;
	font-size: 14px;
}

.signature {
	background: rgba(211, 211, 211, 0.336);
	height: 1.3cm;
}