* {
	font-family: sans-serif;
}
body {
	margin: 0% 7% 7% 7%;
}
.uh-logo {
	margin: 5% 0% 5% 0%;
	max-width: 100%;
	max-height: 20%;
}
.uh-logo img {
	max-width: 100%;
	height: auto;
}
.page-content {
	margin: 1% 1% 1% 1%;
}
.page-content h1 {
	text-align: center;
	font-size: 28px;
}
.page-content p {
	text-align: center;
	font-size: 18px;
}
.tagnumber {
	margin: 3% 0% 3% 0%;
	font-size: 24px;
	text-align: center;
}
.signature {
	margin: 1% 0% 1% 0%;
	text-align: left;
	font-size: 18px;
	width: auto;
}
.signature div {
	display: inline-block;
}
.signature p {
	display: table;
}
.signature span {
	display: table-cell;
	width: 100%;
	border-bottom: 2px solid black;
	text-align: center;
}
.customer-info {
	font-size: 22px;
	border-bottom: 1px solid black;
}
.contact-info {
	text-align: left;
}
.footer {
	text-align: left;
	bottom: 5%;
}

#div1 {
	border-bottom: 1px solid black;
}
#div2 {
	width: 60%;
}
#div3 {
	width: 30%; 
	margin-left: 3%;
}
#div4 {
	width: 45%
}
#div5 {
	width: 45%;
	margin-left: 3%;
}
#div6 {
	width: 60%;
}
#div7 {
	width: 30%;
	margin-left: 3%;
}

#span1 {
	background-color:rgb(230, 230, 230);
	height: 3em;
}
#span2 {
	background-color:rgb(230, 230, 230);
	height: 3em;
}