#image-container {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1dvw;
  padding: 1dvw;
}

.file-entry {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #f9f9f9;
  width: 20dvw;
  text-align: center;
  overflow: auto;
  object-fit: contain;
}
.file-entry.primary {
	border: 2px solid black;
	background-color: lightgray;
}
.file-entry.primary > p {
	font-weight: bold;
	color: black;
	margin: 0.5rem 0 0 0;
}

.file-preview a {
	outline: 0px;
	border: none;
}
.file-preview img,
.file-preview video {
	border-radius: 0.5rem;
	width: 100%;
	object-fit: contain;
	outline: none;
	background: none;
}
.file-preview:hover img, .file-preview:hover video {
	transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
	transform: translateY(-5px) scale(1.01);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	opacity: 0.95;
}

.file-icons {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5rem;

}

.file-caption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
	font-style: normal;
  text-align: center;
  color: #555;
}
.file-caption.size {
	font-style: normal;
  font-size: var(--font-size-smaller);
  color: #555;
}
.file-caption.timestamp {
	font-style: italic;
	font-size: var(--font-size-smaller);
	color: #777;
}

@media (max-width: 750px) {
  .file-entry {
    width: 80dvw;
  }
}

@media (max-width: 1200px) and (min-width: 751px) {
  .file-entry {
    width: 30dvw;
  }
}

.delete-icon {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  cursor: pointer;
  color: red;
  font-size: 1.5rem;
}

.delete-icon:hover {
  color: darkred;
}

.unpin-icon {
  position: absolute;
  top: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  color: #007BFF;
  font-size: 1.5rem;
}

.unpin-icon:hover {
  color: #0056b3;
}

.image-count {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 0.9rem;
}