#image-container {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1dvw;
  padding: 1dvw;
}

.image-entry {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #f9f9f9;
  width: 20dvw;
  text-align: center;
  overflow: auto;
  object-fit: contain;
}

.image-box {
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center;
  overflow: clip;
}

.image-box img {
  border-radius: 0.5rem;
}

.image-caption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  color: #555;
}

.delete-icon {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  cursor: pointer;
  color: red;
  font-size: 1.5rem;
}

.delete-icon:hover {
  color: darkred;
}

.image-count {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 0.9rem;
}