#note-text {
	height: 45dvh;
	background-color: white;
	min-width: 45%;
	font-size: 1.1rem;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	overflow-y: auto;
	overflow-x: clip;
}

#note-text:focus {
  font-size: 1.1rem;
  padding: 0.5rem;
  border: 1px solid #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#inventory-summary-body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.grid-container.inventory-summary {
  min-width: fit-content;
  height: 60dvh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1dvw;
  padding: 1dvw;
}

.grid-item {
  grid-column: 1/5;
}

.flex-container.home {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  gap: 1rem;
}

.flex-box.home {
  display: flex;
  flex: 1 1 45%;
  font-size: 1.1rem;
}

.flex-box.home.notes-section {
  height: 70dvh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.flex-box.home.inventory-summary-section {
  min-height: fit-content;
  width: 100%;
  padding: 1rem;
}

.flex-box.home.notes-section {
  display: flex;
  align-self: flex-start;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #f9f9f9;
}