#note-text {
  background: white;
  min-width: 45%;
  min-height: 15rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

#note-text:focus {
  font-size: 1.1rem;
  padding: 0.5rem;
  border: 1px solid #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#inventory-summary-table {
  table-layout: fixed;
}

.flex-container.home {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  gap: 1rem;
}

.flex-box.home {
  display: flex;
  flex: 1 1 45%;
  font-size: 1.1rem;
}

.flex-box.home.notes-section {
  height: 70dvh;
  overflow-y: auto;
  width: 100%;
}

.flex-box.home.inventory-summary-section {
  max-height: 70dvh;
  width: 100%;
  padding: 1rem;
}

.flex-box.home.notes-section {
  display: flex;
  align-self: flex-start;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #f9f9f9;
}