#note-text {
	height: 45dvh;
	background-color: white;
	min-width: 45%;
	font-size: 1.1rem;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	overflow-y: auto;
	overflow-x: clip;
}

#note-text:focus {
  font-size: 1.1rem;
  padding: 0.5rem;
  border: 1px solid #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#inventory-summary-body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#mobile-nav {
	display: none;
}

@media (max-width: 768px) {
	#mobile-nav {
		display: grid;
		row-gap: 1rem;
	}
}