:root {
	--font: sans-serif;
	--text-color: oklch(0 0 0);
	--bg-color: oklch(0.98 0 0);
	--fg-color: oklch(0.99 0 0);
	--highlight-color: oklch(1 0 0);
	--shadow-color: oklch(0.94 0 0);
	--accent-color: oklch(0.5304 0.2074 22.32);
	--dark-accent-color: oklch(0.4301 0.1663 21.86);
	--submit-color: oklch(0.5526 0.106381 172.7396);
	--light-submit-color: oklch(0.553 0.106381 172.7396 / 50%);
	--warning-color: oklch(0.829 0.1695 87.07);
	--error-color: red;
	--button-border-color: black;
	--border-width: 1px;
	--border-radius: 1rem;
}

body {
  font-family: var(--font);
	color: var(--text-color);
	background-color: var(--bg-color);
  margin: 0;
}

div {
  margin: 0;
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
}

a {
	cursor: pointer;
  font-weight: bold;
  color: var(--accent-color);
  text-decoration: underline;
}

img {
  max-width: 100%;
  max-height: 100%;
}

label {
  display: inline-block;
  text-align: left;
  margin-bottom: 0.5rem;
  margin-top: 0.7rem;
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--button-border-color);
	background-color: var(--bg-color);
	color: var(--text-color);
}

input[type="file"] {
	width: 50%;
	max-width: 100%;
	color: var(--text-color);
	padding: 0.5rem;
	border: var(--border-width) solid var(--button-border-color);
	border-radius: var(--border-radius);
}

input[type="text"], input[type="password"], input[type="number"], select, textarea {
  background: white;
  padding: 0.5rem;
  border: var(--border-width) solid var(--button-border-color);
  border-radius: var(--border-radius);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, textarea:focus {
  padding: 0.5rem;
  border: var(--border-width) solid #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

table {
  width: 90dvw;
  border-collapse: collapse;
  margin: auto;
  overflow: auto;
}

thead {
  top: 0;
  border: 1px solid black;
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
}

tr {
  border-bottom: var(--border-width) solid var(--bg-color);
}
tbody > tr:nth-child(even) {
  background: var(--shadow-color);
}

th {
  text-align: left;
  padding: 1rem 0.5rem 1rem 0.5rem;
}

td {
  vertical-align: middle;
  text-align: left;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.vertical-spacer {
  margin: 5dvh 0 0 0;
}

button.submit, input[type="button"].submit, input[type="submit"].submit {
	color: white;
  background: var(--submit-color);
  border: var(--border-width) solid var(--button-border-color);
}

button.cancel, input[type="reset"].cancel, input[type="button"].cancel, input[type="submit"].cancel {
	color: white;
  background: var(--dark-accent-color);
  border: 1px solid black;
}

.message {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.error-message {
  display: none;
  max-width: 70%;
  color: var(--error-color);
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.warning-message {
  display: none;
  max-width: 70%;
  color: var(--warning-color);
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flex-container {
	width: 90dvw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: fit-content;
  justify-content: space-evenly;
	align-items: stretch;
  align-content: space-between;
	gap: 1rem;
	margin: auto;
  overflow-x: auto;
  overflow-y: auto;
}

.flex-container.footer {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-box {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
  padding: 1rem;
	align-self: flex-start;
	border: 1px solid var(--shadow-color);
  border-radius: 1rem;
  background-color: var(--bg-color);
  flex-wrap: wrap;
  min-width: fit-content;
  justify-content: space-evenly;
	align-items: stretch;
  align-content: center;
	gap: 1rem;
	margin: auto;
  overflow-x: auto;
  overflow-y: auto;
}

.flex-box.nav {
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
}

.flex-box.nav .logout {
  align-self: flex-end;
	border: none;
	border-radius: 0;
	background: none;
	padding: 0;
	margin: 0;
	justify-content: flex-end;
}

.flex-box div {
  width: 100%;
}


.flex-box.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-box thead {
  font-weight: bold;
  border-bottom: 2px solid black;
  z-index: 1;
}

.flex-box tbody {
  max-height: 20em;
  overflow-y: auto;
  width: 100%;
}

.flex-box tfoot {
  font-weight: bold;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  z-index: 1;
}

.flex-box tbody td, .flex-box tbody th {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 1rem 1rem 1rem 1rem;
}

.flex-box tbody tr {
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.flex-box tbody tr:nth-child(even) {
  background: var(--shadow-color);
}

.flex-box tbody tr:hover {
  background: var(--bg-color);
}

.required-field::after {
  content: " *";
  color: var(--error-color);
}

.grid-container {
  display: grid;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #f9f9f9;
  word-wrap: break-word;
  border-spacing: 0px;
  border-radius: var(--border-radius);
  border-collapse: collapse;
  row-gap: 0px;
  column-gap: 0px;
  justify-content: start;
  align-content: end;
  margin: 0;
  padding: 0;
}