body {
  font-family: sans-serif;
  margin: 0;
}

div {
  padding: 1rem;
  margin: 0.5rem;
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
}

a {
  font-weight: bold;
  color: #C8102E;
  text-decoration: underline;
}

button, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"] {
  font-size: 1.1rem;
}

input[type="text"], input[type="password"], select, textarea {
  font-size: 1.1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

textarea {
  font-size: 1.1rem;
}

.error-message {
  display: none;
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container.nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
}

.flex-container.footer {
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
}

.flex-box {
  display: flex;
  align-self: flex-start;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #f9f9f9;
}

.flex-box div {
  width: 100%;
}

.flex-box.header {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
}

.flex-box.nav {
  display: flex;
  align-items: center;
}

.flex-box.nav > div {
  width: auto;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.flex-box.nav {
  display: flex;
  width: 100%;
  align-items: center;
}
.flex-box.nav .nav-left {
  display: flex;
  gap: 0.75rem;
}
.flex-box.nav .logout {
  margin-left: auto;
}

.flex-box.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-box table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  margin-top: 5rem;
  text-align: left;
}

.flex-box table thead {
  font-weight: bold;
  border-bottom: 2px solid black;
}

.flex-box table tfoot {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-weight: bold;
  padding: 1rem 1rem 1rem 1rem;
}

.flex-box table td, .flex-box table th {
  padding: 1rem 1rem 1rem 1rem;
}

.flex-box table tr {
  border-bottom: 1px solid #ddd;
}

.flex-box table tr:nth-child(even) {
  background-color: #f2f2f2;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35dvw, 1fr));
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #f9f9f9;
}