:root {
	--font-family: "Tahoma", sans-serif;
	--font-size: 1rem;
	--text-color: oklch(0 0 0);
	--bg-color-darker: oklch(0.92 0 0);
	--bg-color: oklch(0.96 0 0);
	--fg-color: oklch(0.99 0 0);
	--highlight-color: oklch(1 0 0);
	--shadow-color: oklch(0.94 0 0);
	--lighter-accent-color: oklch(0.6 0.2074 22.32);
	--light-accent-color: oklch(0.55 0.2074 22.32);
	--accent-color: oklch(0.5304 0.2074 22.32);
	--dark-accent-color: oklch(0.4301 0.1663 21.86);
	--darker-accent-color: oklch(0.3301 0.1263 21.86);
	--lighter-submit-color: oklch(0.8 0.106381 172.7396);
	--light-submit-color: oklch(0.7 0.106381 172.7396);
	--submit-color: oklch(0.5526 0.106381 172.7396);
	--dark-submit-color: oklch(0.4526 0.106381 172.7396);
	--warning-color: oklch(0.829 0.1695 87.07);
	--error-color: red;
	--button-border-color: black;
	--focus-color-underline: oklch(54.56% 0.20447 264.901);
	--focus-border-width: 0.25rem;
	--border-width: 1px;
	--border-radius: 1rem;
	--border-radius-text: 0.5rem;
	--border-radius-button: 0.5rem;
}

body {
  font-family: var(--font-family);
	font-size: 20px;
	color: var(--text-color);
	background-color: var(--bg-color);
  margin: 0;
}

div {
  margin: 0;
  box-sizing: border-box;
}

a {
	cursor: pointer;
  font-weight: bold;
  color: var(--accent-color);
  text-decoration: underline;
}

img {
  max-width: 100%;
  max-height: 100%;
}

label {
  display: inline-block;
  text-align: left;
  margin-bottom: 0.5rem;
  margin-top: 0.7rem;
}

button {
  cursor: pointer;
	font-weight: bold;
  padding: 0.5rem;
  border-radius: var(--border-radius-button);
  border: var(--border-width) solid var(--button-border-color);
	background-color: var(--bg-color);
	color: var(--text-color);
	transition: 
		background-color 0.3s ease,
		color 0.3s ease,
		border-color 0.3s ease,
		box-shadow 0.3s ease
	;
}

button:hover {
	background-color: var(--bg-color-darker);
}

button.submit {
	background-color: var(--lighter-submit-color);
}

button.submit:hover {
	background-color: var(--light-submit-color);
}

button.cancel {
  background-color: var(--lighter-accent-color);
}

button.cancel:hover {
	background-color: var(--light-accent-color);
}

input[type="file"] {
	max-width: 100%;
	color: var(--text-color);
	padding: 0.5rem;
	border: var(--border-width) solid var(--button-border-color);
	border-radius: var(--border-radius-text);
}

input[type="text"], input[type="password"], input[type="number"], select, textarea, button, input[type="file"] {
  background: var(--fg-color);
  padding: 0.5rem;
	margin-bottom: 0.25rem;
  border: var(--border-width) solid var(--button-border-color);
	border-bottom: 1px solid var(--button-border-color);
  border-radius: var(--border-radius-text);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, select:focus, textarea:focus, button:focus, input[type="file"]:focus {
	margin-bottom: 0;
  border-bottom: var(--focus-border-width) solid var(--focus-color-underline);
  outline: none;
	transition: border-bottom 100ms ease;
}

table {
  width: 90dvw;
  border-collapse: collapse;
  margin: auto;
  overflow: auto;
}

thead {
  top: 0;
  border: 1px solid black;
  background-color: var(--accent-color);
  color: var(--fg-color);
  font-weight: bold;
}

tr {
  border-bottom: var(--border-width) solid var(--bg-color);
}
tbody > tr:nth-child(even) {
  background: var(--shadow-color);
}

th {
  text-align: left;
  padding: 1rem 0.5rem;
}

td {
  vertical-align: middle;
  text-align: left;
  padding: 0.5rem;
}

.vertical-spacer {
  margin: 5dvh 0 0 0;
}

.message {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.error-message {
  display: none;
  max-width: 70%;
  color: var(--error-color);
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.warning-message {
  display: none;
  max-width: 70%;
  color: var(--warning-color);
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: fit-content;
  justify-content: space-evenly;
	align-items: stretch;
  align-content: space-between;
	gap: 1rem;
	margin: auto;
  overflow-x: auto;
  overflow-y: auto;
}

.flex-container.title {
	align-items: center;
	justify-content: center;
  text-align: center;
}

.flex-container.menubar {
	margin: 2rem auto;
	box-shadow: 0 4px 6px var(--shadow-color);
	gap: 1.5rem;
	border: 1px solid var(--shadow-color);
	border-radius: var(--border-radius);
	background-color: var(--bg-color);
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 90dvw;
	transition: all 0.3s ease-in-out;
}

.flex-container.menubar .logout {
	margin-left: auto;
	align-self: flex-end;
	justify-self: flex-end;
}

.flex-container.menubar a {
	padding: 1.5rem 1rem;
	height: 100%;
}

.flex-container.menubar a:hover {
	background-color: var(--accent-color);
	color: var(--fg-color);
	text-decoration: none;
}

.flex-container.footer {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-box {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
  padding: 1rem;
	align-self: flex-start;
	border: 1px solid var(--shadow-color);
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  flex-wrap: wrap;
  min-width: fit-content;
  justify-content: space-evenly;
	align-items: stretch;
  align-content: center;
	gap: 1rem;
	margin: auto;
  overflow-x: auto;
  overflow-y: auto;
}

.flex-box.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-box thead {
  font-weight: bold;
  border-bottom: 2px solid black;
  z-index: 1;
}

.flex-box tbody {
  max-height: 20em;
  overflow-y: auto;
  width: 100%;
}

.flex-box tfoot {
  font-weight: bold;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  z-index: 1;
}

.flex-box tbody td, .flex-box tbody th {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 1rem 1rem 1rem 1rem;
}

.flex-box tbody tr {
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.flex-box tbody tr:nth-child(even) {
  background: var(--shadow-color);
}

.flex-box tbody tr:hover {
  background: var(--bg-color);
}

.required-field::after {
  content: " *";
  color: var(--error-color);
}

.grid-container {
  display: grid;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  background-color: #f9f9f9;
  word-wrap: break-word;
  border-spacing: 0px;
  border-radius: var(--border-radius);
  border-collapse: collapse;
  row-gap: 0px;
  column-gap: 0px;
  justify-content: start;
  align-content: end;
  margin: 0;
  padding: 0;
}