.flex-container.inventory {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  gap: 1rem;
}

.flex-box.inventory {
  display: flex;
  flex: 1 1 45%;
  font-size: 1.1rem;
  align-self: flex-start;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #f9f9f9;
}

.flex-box.inventory div {
  width: 100%;
}

.flex-box.inventory.search-form {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  gap: 1rem;
}

.flex-box.inventory.inventory-summary {
  display: flex;
  align-self: flex-start;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #f9f9f9;
}

.flex-box.inventory.inventory-summary div {
  width: 100%;
}

.flex-box.inventory.inventory-summary table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  margin-top: 5rem;
  text-align: left;
}

.flex-box.inventory.inventory-summary table thead {
  font-weight: bold;
  border-bottom: 2px solid black;
}

.flex-box.inventory.inventory-summary table tfoot {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-weight: bold;
  padding: 1rem 1rem 1rem 1rem;
}

.flex-box.inventory.inventory-summary table td, .flex-box.inventory.inventory-summary table th {
  padding: 1rem 1rem 1rem 1rem;
}

.flex-box.inventory.inventory-summary table tr {
  border-bottom: 1px solid #ddd;
}

.flex-box.inventory.inventory-summary table tr:nth-child(even) {
  background-color: #f2f2f2;
}
