#inventory-lookup-reset-button {
  display: none;
}

#inventory-lookup-more-details {
  display: none;
}

#inventory-update-section {
  display: none;
}

.grid-container.inventory.inventory-update-form {
  grid-template-columns: 1fr 1fr;
  gap: 0.5dvw;
  padding: var(--container-padding);
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
	border: var(--border-width) solid var(--default-border-color);
}

.grid-container.inventory.inventory-update-form > div {
	width: 100%;
	height: 100%;
}

.inventory-search-reset {
  display: none;
}