#inventory-lookup-reset-button {
  display: none;
}

#inventory-lookup-more-details {
  display: none;
}

#inventory-lookup-photo-album {
  display: none;
}

#inventory-lookup-add-photos {
	display: none;
}

#inventory-file-input {
	display: none;
}

#inventory-update-form {
	display: none;
}

#adv-search-form div.flex-container.horizontal > select {
	width: 10rem;
}

.grid-container.inventory.inventory-update-form {
  grid-template-columns: 1fr 1fr;
  gap: 0.5dvw;
  padding: var(--container-padding);
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
	border: var(--border-width) solid var(--default-border-color);
}

.grid-container.inventory.inventory-update-form > div {
	width: 100%;
	height: 100%;
}

.adv-search-reset {
  display: none;
	font-size: 1.5rem;
	margin-right: var(--select-element-extended-margin);
}