#inventory-reset-button {
  display: none;
  margin-left: 1rem;
  background-color: #888B8D;
}

.flex-container.inventory {
  align-items: center;
  gap: 2dvw;
  padding: 1dvw;
}

.grid-container.inventory {
  min-width: fit-content;
  min-height: 50dvh;
  height: fit-content;
  grid-template-columns: repeat(2, 1 fr);
}

.grid-box {
  min-width: fit-content;
  display: inline-grid;
}

.grid-box.inventory-form-row {
  min-width: fit-content;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}

.grid-box.inventory-form-row div {
  min-width: fit-content;
  max-width: 50%;
  grid-template-columns: 1fr 1fr;
}