#inventory-lookup-reset-button {
  display: none;
}

#inventory-lookup-more-details {
  display: none;
}

#inventory-update-section {
  display: none;
}

#inventory-update-form-buttons {
	grid-column: 1 / 3;
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	margin-top: 1rem;
}

.grid-container.inventory.inventory-update-form {
  grid-template-columns: 1fr 1fr;
  gap: 0.5dvw;
  padding: 1dvw;
  border-radius: 1rem;
  background-color: whitesmoke;
}

.inventory-search-reset {
  display: none;
}