#inventory-lookup-more-details {
  display: none;
}

#inventory-lookup-photo-album {
  display: none;
}

#inventory-lookup-add-photos {
	display: none;
}

#inventory-file-input {
	display: none;
}

#inventory-update-form {
	display: none;
}

#adv-search-form div.flex-container.horizontal > select {
	width: 10rem;
}

#inventory-bulk-update {
	display: none;
}

.tabs-container.inventory-update-form {
	grid-template-columns: auto auto auto auto auto;
}

.grid-container.inventory.inventory-update-form {
  grid-template-columns: 1fr 1fr;
  gap: 0.5dvw;
  padding: var(--container-padding);
	padding-top: 0;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
	border: var(--border-width) solid var(--default-border-color);
}

.grid-container.inventory.inventory-update-form > div {
	width: 100%;
	height: 100%;
}

.adv-search-reset {
  display: none;
	font-size: 1.5rem;
	margin-right: var(--select-element-extended-margin);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 20rem;
	background-color: var(--bg-color);
	text-align: center;
	border-radius: var(--border-radius);
	padding: var(--container-padding);
	position: absolute;
	z-index: 1;
	bottom: 0%;
	left: 0%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s;
	margin-left: 1rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#inventory-table-search-container {
	justify-content: flex-start;
	gap: 1rem;
}

@media (max-width: 1185px) {
	#inventory-table th:nth-child(7), #inventory-table td:nth-child(7) {
		display: none;
	}
}

@media (max-width: 1000px) {
	#inventory-table th:nth-child(5), #inventory-table td:nth-child(5) {
		display: none;
	}
}

@media (max-width: 860px) {
	#inventory-table th:nth-child(4), #inventory-table td:nth-child(4) {
		display: none;
	}
}

[data-location-part], [data-hardware-part], [data-software-part], [data-property-part], [data-note-files-part] {
	display: none;
}