h2 {
	text-align: center;
}

.client-row-container {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	width: 93dvw;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	margin-top: 3rem;
	margin-left: 3dvw; 
	margin-right: 3dvw;
	border: 1px solid black;
	border-radius: 1rem;
}
.client-row-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-template-rows: auto;
	gap: 1rem;
	width: 100%;
	text-align: left;
	word-wrap: break-word;
}
#client-offline {
	position:absolute; 
	top: 50%; 
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -100%); 
	color: white; 
	text-align: center;
	text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black
	;
}
.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position:relative;
	cursor: pointer;
	width: 100%;
	max-width: 300px;
	aspect-ratio: calc(16 / 9);
	transition: 
		width 0.2s ease,
		background-color 0.3s ease
	;
}
.image-container::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: oklch(0.7665 0 176.29 / 40%);
	filter: blur(2px);
	transition: 
		blur 0.3s ease,
		background-color 0.3s ease;
	z-index: 0;
}
.image-container:hover {
	background-color: oklch(0.7665 0 176.29 / 60%);
}

#button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	margin-top: 1rem;
}

button {
	cursor: pointer;
	margin: 1rem;
	display: inline-block;
	align-self: flex-end;
	min-width: max-content;
	height: max-content;
}

#shutdown-button {
	margin-left: auto;
}

@media (max-width: 1070px) and (min-width: 881px) {
	.image-container {
		display: none;
	}
	#live-view {
		display: none;
	}
}
@media (max-width: 880px) {
	.client-row-grid {
		grid-template-columns: 1fr;
	}
	.image-container {
		display: block;
		width: 300px;
	}
	#live-view {
		display: block;
	}
}