div {
  padding: 0;
  margin: 0;
}

.flex-container.login {
  align-items: center;
  justify-content: center;
}

input[type="text"]:invalid:user-invalid, input[type="password"]:invalid:user-invalid {
  display: block;
  color: red;
  border: 2px solid red;
  caret-color: red;
}

[type="text"]:valid, input[type="password"]:valid {
  display: block;
  color: black;
  caret-color: black;
}

small {
  display: inline-block;
  margin: 2rem auto 1rem auto;
}

button {
  margin: 1rem 0rem 1.5rem 0rem;
  padding: 0.7rem 1rem 0.7rem 1rem;
	width: 100%;
	background-color: var(--light-submit-color);
}

.flex-box.login {
	flex: unset;
	padding: 2rem;
	margin: 1rem;
	align-items: center;;
}