		/* @media (min-width: 1851px) {
			.image-container {
				width: 290px;
			}
		}
		@media (max-width: 1850px) and (min-width: 1791px) {
			.image-container {
				width: 280px;
			}
		}
		@media (max-width: 1790px) and (min-width: 1731px) {
			.image-container {
				width: 270px;
			}
		}
		@media (max-width: 1730px) and (min-width: 1671px) {
			.image-container {
				width: 260px;
			}
		}
		@media (max-width: 1670px) and (min-width: 1611px) {
			.image-container {
				width: 250px;
			}
		}
		@media (max-width: 1610px) and (min-width: 1551px) {
			.image-container {
				width: 240px;
			}
		}
		@media (max-width: 1550px) and (min-width: 1491px) {
			.image-container {
				width: 230px;
			}
		}
		@media (max-width: 1490px) and (min-width: 1431px) {
			.image-container {
				width: 220px;
			}
		}
		@media (max-width: 1430px) and (min-width: 1371px) {
			.image-container {
				width: 210px;
			}
		}
		@media (max-width: 1370px) and (min-width: 1311px) {
			.image-container {
				width: 200px;
			}
		}
		@media (max-width: 1310px) and (min-width: 1251px) {
			.image-container {
				width: 190px;
			}
		}
		@media (max-width: 1250px) and (min-width: 1191px) {
			.image-container {
				width: 180px;
			}
		}
		@media (max-width: 1190px) and (min-width: 1131px) {
			.image-container {
				width: 170px;
			}
		}
		@media (max-width: 1130px) and (min-width: 1071px) {
			.image-container {
				width: 160px;
			}
		} */